$darkPurple: #454562;
$darkPurpleHover: rgba(0, 0, 0, 0.2);
$veryDarkPurple: rgb(69, 69, 98);
$textColor: #fff;
$linkColor: #FFA000;
$buttonColor: #d1c3d2;


$slideColor1: #454562;
$slideColor2: #4d4d6d ;
$slideColor3: #454562;
$slideColor4: #4d4d6d;
$slideColor5: #39394A;
