	<div class="avatar-image">
    <img
      width="135" 
      height="135" 
      src="/img/avatar.jpg" 
      alt="Illia Kyrylov"
    >
    <img class="avatar-image-flag" width="30" src="/img/ua-flag.svg" alt="Ukraine flag"/>
  </div>