---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 1
numberOfLatestPostsToShow: 3
---
<h2>Skills</h2>
<p>
html, css, js, reactjs, git, webpack, ts, redux, scss, react-router,
redux-saga, nodejs, express, ssr, jenkins, jest, babel, react-styleguidist,
lerna, testing-library, redmine, styled-components, json-rpc,
solid
</p>

<h2 id="Experience">Experience</h2>
<p>Mostly front-end development and team leading.</p>

<h3>
	Frontend Team Lead<br> 
	<small style="font-weight: 300;"><i>Serpstat (March 2019 - present time)</i></small>
</h3>
<p>
  Team member selection, mentoring, certification, and code review.
  Managing the migration of a big SEO product to new technologies.  
  Creating, optimizing, and refactoring the architecture of a 
  front-end application. Creating component guidelines and 
  implementing new technologies. 
  Improving front-end team working processes.
</p>
<h3>
	Middle Frontend developer<br>
	<small style="font-weight: 300;">
		<i>Serpstat (Jul 2018 - March 2019)</i>
	</small>
</h3>
<p>
	Implementation and refactoring features in the big SEO platform use basically
  reactjs, redux, redux-saga and nodejs. Improve the project's build time and process. 
</p>

<h3>
	Frontend developer<br>
	<small style="font-weight: 300;">
		<i>Template Monster (Jun 2016 - Jul 2018)</i>
	</small>
</h3>
<p>
	Creating the best templates for Prestashop using html5, 
	js, jquery, scss, bootstrap, webpack.
</p>

<h3>
	Frontend developer <br>
	<small style="font-weight: 300;">
		<i>IQstream (Sep 2015 - Jan 2016)</i>
	</small>
</h3>
<p>
	Creating and supporting cross-browser websites using html, js, 
  scss, modular approach, and pixel perfect method.
</p>


<h2>Education</h2>
<p>
	I finished my university education at <b>Dnipro National University of Railway Transport</b> , 
  Dnipro, where I received a master's degree in engineering.
</p>

<div>
		<a href="#" onclick="window.print();">Download CV PDF</a>
</div>