---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 1
numberOfLatestPostsToShow: 3
---
<h2>Skills</h2>
<p>
html, css, js, reactjs, git, webpack, ts, redux, scss, react-router,
redux-saga, nodejs, express, ssr, jenkins, jest, babel, react-styleguidist,
lerna, testing-library, redmine, styled-components, json-rpc,
solid
</p>

<h2 id="Experience">Experience</h2>
<p>Mostly frontend development and team leading.</p>

<h3>
	Frontend Team Lead<br> 
	<small style="font-weight: 300;"><i>Serpstat (March 2019 - present time)</i></small>
</h3>
<p>
	Manage the delivery of the project releases on multiple environments. 
	Expand front-end capabilities to new platforms and technologies. 
	Mentor and advise team in code review, pair programming and more. 
	Collaborate with Product Designers, Product Managers, and other 
	Team Leaders to plan, nurture, and implement an efficient and 
	effective development process. Work on optimization in code base. 
	Personnel selection, certification. Write technical 
	documentation (admin guides), white papers, presentations.
</p>
<h3>
	Middle Frontend developer<br>
	<small style="font-weight: 300;">
		<i>Serpstat (Jul 2018 - March 2019)</i>
	</small>
</h3>
<p>
	Developing new user-facing features using React.js, Redux, 
	Redux-saga. Building reusable components and front-end 
	libraries for future use Translating designs and wireframes 
	into high quality code. Optimizing components for maximum 
	performance across a vast array of web-capable devices and 
	browsers.
</p>

<h3>
	Frontend developer<br>
	<small style="font-weight: 300;">
		<i>Template Monster (Jun 2016 - Jul 2018)</i>
	</small>
</h3>
<p>
	Creation of adaptive, cross-browser, optimized,easily 
	supported templates for Prestashop in accordance with 
	the design using HTML5, JS, jQuery, SCSS, Bootstrap, 
	Smarty, PHP, Webpack.
</p>

<h3>
	Frontend developer <br>
	<small style="font-weight: 300;">
		<i>IQstream (Sep 2015 - Jan 2016)</i>
	</small>
</h3>
<p>
	Development and support of websites using HTML5, JS 
	technology and SCSS with the COMPASS preprocessor. 
	Creation of cross-browser, easily supported and 
	productive solutions, using a modular approach. 
	Using Pixel Perfect and goofle PageSpeed for quality evaluation.
</p>


<h2>Education</h2>
<p>
	I finish university education at <b>Dnipro National University of Railway Transport</b> , 
	Dnipro, where I received a master degree in engeniring.
</p>

<div>
		<a href="#" onclick="window.print();">Download CV PDF</a>
</div>