footer {
    @extend header;

    bottom: 0;
    padding: 0 10vw;
    font-family: 'Pacifico', cursive;
    color: $textColor;

    .contact {
        padding: 15px;
    }

    .copirate {
        position: relative;
        display: inline-block;

        &:before {
            content: url(../fonts/svg/new-file.svg);
            position: absolute;
            top: 3px;
            left: -25px;
            display: block;
            width: 20px;
        }
    }
}
