main,.main {
    padding: 0px;
    font-family: 'Open Sans', cursive;
    color: $textColor;
    background-color: transparent;

    @extend header;

    justify-content: center;
    align-content: flex-start;

    .main-slogan {
        // font-family: 'Open Sans', cursive;
        font-size: 35px;
        text-align: center;
        flex-basis: 100%;
    }

    .learn-more {
        font-size: 25px;
        font-style: italic;
        margin-left: 5vw;
        word-spacing: 3px;
        color: $linkColor;
    }
}
.main{
  position: static;
}
