.my-works{

  .button-block{
    margin-top: 2em;
    text-align: center;
    font-size: 1.5em;

    .hire-me-button{
      margin: 1.5em;
      color: $veryDarkPurple;

      .check-square {
        width: 20px;
      }
    }
  }
  .description{
    display: block;
    max-width: 600px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }
}
